{% load static %}
<!DOCTYPE html>
<html>
<head>
    {% if user_name is None %}
        <script language="JavaScript">
            alert("您还未登陆！请先登录！");
            window.location.href = '/';
        </script>
    {% endif %}
    <meta charset="UTF-8">
    <title>人脸签到结果</title>
    <link href="{% static "/myApp/FaceAnswer/css/bootstrap.min.css" %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static "/myApp/FaceAnswer/bower_components/flexslider/flexslider.css" %}" rel="stylesheet">
    <link href="{% static "/myApp/FaceAnswer/css/scrolling-nav.css" %}" rel="stylesheet">
    <link href="{% static "/myApp/FaceAnswer/css/style.css" %}" rel="stylesheet">
    <link href="{% static "/myApp/FaceAnswer/css/responsive.css" %}" rel="stylesheet">
    <link href="{% static "/myApp/FaceAnswer/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "/myApp/FaceAnswer/css/headline.css" %}" rel="stylesheet">
    <link href="{% static "/myApp/FaceAnswer/ionicons/css/ionicons.min.css" %}" rel="stylesheet">
    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="{% static "/myApp/FaceAnswer/bower_components/owl-carousel/owl.carousel.css" %}">

    <!-- Default Theme -->
    <link rel="stylesheet" href="{% static "/myApp/FaceAnswer/bower_components/owl-carousel/owl.theme.css" %}">
    <style>
        * {
            padding: 0;
            margin: 0;
        }

        .face-container {
            width: 70%;
            margin: auto;
            padding-top: 133px;
            height: 700px;
        }

        .blank-control {
            height: 50px;
        }

        .reached {
            width: 49%;
            height: 450px;
            display: inline-block;
            float: left;
        }

        .actual {
            width: 49%;
            height: 450px;
            display: inline-block;
            float: right;
        }

        .twospace {
            width: 20px;
            height: 450px;
            display: inline-block;
            float: left;
        }

        .showboard {
            width: auto;
            height: 450px;
            display: inline-block;
        }
    </style>
</head>
<body>
<!--导航栏-->
<nav class="navbar navbar-default navbar-fixed-top">
    <!--top bar start-->
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <ul class="list-inline">
                        <li><a><i class="ion-android-people"></i> &nbsp;签到发起者：{{ teacher_name }}老师 </a></li>
                        <!--<li><a href="#"><i class="ion-ios-email"></i> 879969355@qq.com</a></li>-->
                    </ul>
                </div><!--top left col end-->
                <!--top social col end-->
            </div><!--row-->
        </div><!--container-->
    </div>
    <!--top bar end-->
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand page-scroll logo no-margin">人脸签到班级：{{ sign_college }}学院 - {{ sign_major }}
                - {{ sign_grade }}</p>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li>
                    <a class="page-scroll">应到：{{ reached }}&nbsp;&nbsp;&nbsp;实到：{{ actual }}</a>
                </li>
                <li>
                    <a class="page-scroll" href="/ClearSession/?identity=Teacher">返回教师主页</a>
                </li>
                <li>
                    <a class="page-scroll" href="{% url 'myApp:todo' %}">联系我们</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--内容主体-->
<div class="face-container">
    <div class="blank-control"></div>
    <div class="reached">
        <h2>已签到学生：</h2>
        <div class="twospace"></div>
        <div class="showboard">
            <p>
                {% for signed in signed_list %}
                    {{ signed }} &nbsp;&nbsp;&nbsp;
                    {% if forloop.counter|add:1|divisibleby:5 %}
                        <br/>
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
    <div class="actual">
        <h2>未签到学生：</h2>
        <div class="twospace"></div>
        <div class="showboard">
            <p>
                {% for unsigned in unsigned_list %}
                    {{ unsigned }} &nbsp;&nbsp;&nbsp;
                    {% if forloop.counter|add:1|divisibleby:5 %}
                        <br/>
                    {% endif %}
                {% endfor %}
            </p>
        </div>
    </div>
</div>
<div class="footer-bottom" style="height: 125px">
    <div class="container">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="f-b">Copyright &copy; 西安科技大学-玩不了了 <br/> -
                Collect from <a title="玩不了了" target="_blank">玩不了了</a></div>
        </div>
    </div>
</div>

<!-- jQuery -->
<!-- jQuery plugins-->
<script src="{% static "/myApp/FaceAnswer/bower_components/jquery/dist/jquery.min.js" %}"></script>
<script src="{% static "/myApp/FaceAnswer/bower_components/flexslider/jquery.flexslider-min.js" %}"></script>
<script src="{% static "/myApp/FaceAnswer/bower_components/scrollreveal/dist/scrollreveal.min.js" %}"></script>
<script src="{% static "/myApp/FaceAnswer/js/modernizr.js" %}"></script>
<script src="{% static "/myApp/FaceAnswer/js/custom.js" %}" type="text/javascript"></script>
<script src="{% static "/myApp/FaceAnswer/js/bootstrap.min.js" %}"></script>
<!-- Scrolling Nav JavaScript -->
<script src="{% static "/myApp/FaceAnswer/js/jquery.easing.min.js" %}"></script>
<script src="{% static "/myApp/FaceAnswer/js/scrolling-nav.js" %}"></script>
<script src="{% static "/myApp/FaceAnswer/js/main.js" %}"></script>
<script src="{% static "/myApp/FaceAnswer/bower_components/owl-carousel/owl.carousel.js" %}"></script>
</body>
</html>