{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>修改密码</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static "myApp/ReselectPassword/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "myApp/ReselectPassword/font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "myApp/ReselectPassword/css/form-elements.css" %}">
    <link rel="stylesheet" href="{% static "myApp/ReselectPassword/css/style.css" %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="{% static "myApp/ReselectPassword/ico/favicon.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{% static "myApp/ReselectPassword/ico/apple-touch-icon-144-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{% static "myApp/ReselectPassword/ico/apple-touch-icon-114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{% static "myApp/ReselectPassword/ico/apple-touch-icon-72-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed"
          href="{% static "myApp/ReselectPassword/ico/apple-touch-icon-57-precomposed.png" %}">

</head>

<body>

<!-- Top content -->
<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>Modify</strong> Password</h1>
                    <div class="description">
                        <p>
                            在这里修改您的密码：
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>{{ user_name }} {{ user_identity }}</h3>
                            <p>{{ why_select }}，为了账号安全请修改密码。</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" method="post" class="login-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="sr-only" for="form-password">旧密码</label>
                                <input type="password" name="form-password-old" placeholder="旧密码..."
                                       class="form-password form-control" id="form-password-pld">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">新密码</label>
                                <input type="password" name="form-password-new" placeholder="新密码..."
                                       class="form-password form-control" id="form-password-new">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">确认新密码</label>
                                <input type="password" name="form-password-again" placeholder="请再次输入新密码..."
                                       class="form-password form-control" id="form-password-again">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">验证码</label>
                                <input type="text" name="form-verifycode" placeholder="验证码..."/>
                                <a href="{% url 'myApp:ReselectPassword' %}"><img src="{% url 'myApp:verifycode' %}"
                                                                                  alt="验证码" title="看不清？点击刷新"></a>
                            </div>
                            <button type="submit" class="btn"><i class="fa fa-sign-in"></i> 修改并登陆!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% if user_name is None %}
    <script language="JavaScript">
        alert("您还未登陆！请先登录！");
        window.location.href = '/';
    </script>
{% endif %}

<!-- Javascript -->
<script src="{% static "myApp/ReselectPassword/js/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "myApp/ReselectPassword/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "myApp/ReselectPassword/js/jquery.backstretch.min.js" %}"></script>
<script>$.backstretch("{% static "myApp/ReselectPassword/img/backgrounds/1.jpg" %}");</script>
<script src="{% static "myApp/ReselectPassword/js/scripts.js" %}"></script>

<!--[if lt IE 10]>
            <script src="{% static "myApp/ReselectPassword/js/placeholder.js" %}></script>
        <![endif]-->

</body>

</html>