{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% if select_fail is Ture %}
        <script language="JavaScript">
            alert("输入有误！请重新输入！");
            window.location.href = '/SingleAddStudent/';
        </script>
    {% endif %}
    {% if successful_add is True %}
        <script language="JavaScript">
            alert("添加成功！");
            window.location.href = '/ClearSession/?idendity=Teacher'
        </script>
    {% endif %}
    {% if user_name is None %}
        <script language="JavaScript">
            alert("您还未登录！请先登录！");
            window.location.href = '/';
        </script>
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>添加一个学生</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static "myApp/TeacherLogin/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "myApp/TeacherLogin/font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "myApp/TeacherLogin/css/form-elements.css" %}">
    <link rel="stylesheet" href="{% static "myApp/TeacherLogin/css/style.css" %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="{% static "myApp/TeacherLogin/ico/favicon.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{% static "myApp/TeacherLogin/ico/apple-touch-icon-144-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{% static "myApp/TeacherLogin/ico/apple-touch-icon-114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{% static "myApp/TeacherLogin/ico/apple-touch-icon-72-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed"
          href="{% static "myApp/TeacherLogin/ico/apple-touch-icon-57-precomposed.png" %}">

</head>

<body>

<!-- Top content -->
<div class="top-content">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1>Add <strong>Student</strong> Information</h1>
                    <div class="description">
                        <p>
                            添加一位学生的信息：
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>添加学生：</h3>
                            <p>
                                尊敬的老师，您好！请输入要添加学生的信息：<br/>
                                （初始密码默认为学号后六位）
                            </p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" method="post" class="login-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="form-username">Student ID</label>
                                <input type="text" name="form-account" placeholder="学生学号..."
                                       class="form-username form-control" id="form-username">
                            </div>
                            <div class="form-group">
                                <label for="form-username">Student Name</label>
                                <input type="text" name="form-name" placeholder="学生姓名..."
                                       class="form-username form-control" id="form-username">
                            </div>
                            <div class="form-group">
                                <label>男生：</label>
                                <input type="radio" name="form-gender" value="boy" checked="checked"/>
                                <br/>
                                <label>女生：</label>
                                <input type="radio" name="form-gender" value="girl"/>
                            </div>
                            <button type="submit" class="btn"><i class="fa fa-sign-in"></i> 确认添加</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Javascript -->
<script src="{% static "myApp/TeacherLogin/js/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "myApp/TeacherLogin/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "myApp/TeacherLogin/js/jquery.backstretch.min.js" %}"></script>
<script>$.backstretch("{% static "myApp/TeacherLogin/img/backgrounds/1.jpg" %}");</script>
<script src="{% static "myApp/TeacherLogin/js/scripts.js" %}"></script>

<!--[if lt IE 10]>
            <script src="{% static "myApp/TeacherLogin/js/placeholder.js" %}></script>
        <![endif]-->

</body>

</html>