{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% if login_fail is True %}
        <script language="JavaScript">
            alert("账号或密码错误！");
            window.location.href = '/StudentLogin/';
        </script>
    {% endif %}

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>学生登陆</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{% static "myApp/StudentLogin/bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "myApp/StudentLogin/font-awesome/css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "myApp/StudentLogin/css/form-elements.css" %}">
    <link rel="stylesheet" href="{% static "myApp/StudentLogin/css/style.css" %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="{% static "myApp/StudentLogin/ico/favicon.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144"
          href="{% static "myApp/StudentLogin/ico/apple-touch-icon-144-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114"
          href="{% static "myApp/StudentLogin/ico/apple-touch-icon-114-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72"
          href="{% static "myApp/StudentLogin/ico/apple-touch-icon-72-precomposed.png" %}">
    <link rel="apple-touch-icon-precomposed"
          href="{% static "myApp/StudentLogin/ico/apple-touch-icon-57-precomposed.png" %}">

</head>

<body>

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>Students</strong> Login</h1>
                    <div class="description">
                        <p>
                            <strong>登陆你的学生账户！</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>学生登陆：</h3>
                            <p>Enter your username and password to log on:</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-key"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" method="post" class="login-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="sr-only" for="form-username">Username</label>
                                <input type="text" name="form-username" placeholder="账号..."
                                       class="form-username form-control" id="form-username">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">Password</label>
                                <input type="password" name="form-password" placeholder="密码..."
                                       class="form-password form-control" id="form-password">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Verify Code</label>
                                <input type="text" name="form-verifycode" placeholder="验证码..."/>
                                <a href="{% url 'myApp:StudentLogin' %}"><img src="{% url 'myApp:verifycode' %}"
                                                                              alt="验证码" title="看不清？点击刷新"></a>
                            </div>
                            <button type="submit" class="btn"><i class="fa fa-sign-in"></i> 现在登陆!</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 social-login">
                    <h3>没有学生账户请联系相应班级的老师哦~</h3>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="copyrights">Collect from <a href="#" title="玩不了了！">玩不了了！</a></div>

<!-- Javascript -->
<script src="{% static "myApp/StudentLogin/js/jquery-1.11.1.min.js" %}"></script>
<script src="{% static "myApp/StudentLogin/bootstrap/js/bootstrap.min.js" %}"></script>
<script src="{% static "myApp/StudentLogin/js/jquery.backstretch.min.js" %}"></script>
<script>$.backstretch("{% static "myApp/StudentLogin/img/backgrounds/1.jpg" %}");</script>
<script src="{% static "myApp/StudentLogin/js/scripts.js" %}"></script>

<!--[if lt IE 10]>
            <script src="{% static "myApp/StudentLogin/js/placeholder.js"%}></script>
        <![endif]-->

</body>

</html>